#projects {
    background-color: var(--background-pink);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "h3 h3 h3"
        "snackathon iteraweb book-sort";
    grid-gap: 0 4rem;
}

#projects h3 {
    grid-area: h3;
}

#projects #book-sort {
    grid-area: book-sort;
}

#projects #iteraweb {
    grid-area: iteraweb;
}

#projects #snackathon {
    grid-area: snackathon;
}

img#no-connection,
img#design-science,
img#success {
    max-width: 320px;
    height: 320px;
    width: 100%;
    object-fit: contain;
    margin: -2rem 0;
}

img#no-connection:hover,
img#no-connection:focus {
    content: url(/flame-no-connection.gif);
}

img#design-science:hover,
img#design-science:focus {
    content: url(/flame-design-science.gif);
}

img#success:hover,
img#success:focus {
    content: url(/flame-success.gif);
}

@media (max-width: 900px) {
    #projects {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "h3"
            "snackathon"
            "iteraweb"
            "book-sort";
        grid-gap: 0;
    }

    #projects article:nth-of-type(even) {
        margin: 4rem 0;
    }
}