#about {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "h3 ."
        "p img";
    background-color: var(--background-pink);
    padding: 2rem;
}

#about .p-wrapper {
    font-size: 1rem;
    grid-area: p;
}

#about img {
    grid-area: img;
    justify-self: end;
    align-self: end;
    width: 12.5rem;
    margin-left: 1rem;
}

#about h3 {
    grid-area: h3;
}

@media (max-width: 530px) {
    #about {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "h3"
            "p"
            "img";
    }

    #about img {
        justify-self: start;
        margin-left: 0;
        margin-top: 2rem;
    }
}
