:root {
    --text-color: #1b1b1c;

    --background-yellow: #f3e87e;
    --background-pink: #e2c0d1;
    --background-green: #70efb2;
    --background-blue: #87d8e0;

    --highlight-color: #04294f;
    --signal-red: #b20c4b;
}