:root {
    --text-color: #1b1b1c;
    --text-light: #525252;
    
    --background-sand: #F7F5EB;
    --background-pink: #EAC7C7;
    --background-green: #BCEAD5;
    --background-blue: #A0C3D2;

    --highlight-color: #04294f;
    --signal-red: #b20c4b;
}