:root {
    --text-color: #1b1b1c;
    --highlight-color: #04294f;

    --background-yellow: #f3e87e;
    --background-pink: #e2c0d1;
    --background-green: #70efb2;
    --background-blue: #87d8e0;
}